*{
    font-family: sans-serif;
}

a:hover{
    color:aqua;
}

.menu{
    display:inline;
    width:20%;
    float:left;
    background-color: black;
    height: 75%;
}

.cuerpo{
    display:inline;
    width:80%;
    float: right;

}

.bloque1{
    height: 25%;
    background-color: red;
}
.bloque2{
    height: 25%;
    background-color: green;
}
.bloque3{
    height: 25%;
    background-color: yellow;
}