.contenedor{
    display: flex;
}
.texto{
    margin-left: 100px;
    margin-top: 50px;
}
.margen{
    margin-left: 250px;
    margin-top: 50px;
}
.margen_adopcion{
    margin-top: 50px;
}
.retroceder{
    margin-left: 250;
}